.bglightblue {
  background-color: #f5f9ff;
}

.filter-panel {
  background-color: #0d6efd !important;
  color: #fff !important;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.mat-mdc-form-field {
  background-color: white;
  border-radius: 4px;
}

.dashboard-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.button-group {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.text-white {
  color: #fff !important;
}

.col-md-4, .col-md-8, .col-md-12 {
  transition: all 0.3s ease;
}
.mb-3 {
    margin-bottom: 0.4rem !important;
}
.form-select {
    padding: .3rem 2.25rem .3rem .75rem !important;
}