
<div class="bglightblue">
  <div class="container">
    <div class="content">
      <div class="d-md-flex justify-content-between border-b-org p-3">
    <h1>Dashboard</h1>
    <nav aria-label="breadcrumb">
     
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
      </ol>
    </nav>
  </div>
<div class="p-3">

  <div class="d-flex align-items-start dashboardTabs">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <app-dashboard-tab></app-dashboard-tab>

        </div>
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-Pills-dashboard" role="tabpanel" aria-labelledby="v-Pills-dashboard-tab" tabindex="0">

        <!-- <app-chartfilter (childEvent)="handleChildEvent($event)"></app-chartfilter> -->
        <!-- <app-dashboard-bar-chart [userType]="user" [dashboarddata]="data"></app-dashboard-bar-chart>
        <app-dashboard-bar-chart [userType]="user" [dashboarddata]="dashboardData"></app-dashboard-bar-chart> -->
        <div class="row">
            <div class="col-md-6 ">
              <div class="blk" style="display: block">
                <app-dashboard-bar-chart [dashboarddata]="data" [chartType]="chartname"></app-dashboard-bar-chart>
             
              <div class="lable-main">
                <label class="text-center"
                  >Graphical representation of the dashboard-district and time wise</label
                >
              </div>
            </div>
            </div>
            <div class="col-md-6 ">
                <div class="blk" style="display: block">
                <app-dashboard-bar-chart [userType]="user" [dashboarddata]="dashboardData2"></app-dashboard-bar-chart>
             
              <div class="lable-main">
                <label class="text-center"
                  >Graphical representation of the dashboard-district and time wise</label
                >
              </div>
            </div>
            </div>
            <div class="col-md-6 ">
                <div class="blk" style="display: block">
                    <app-dashboard-bar-chart [userType]="user" [dashboarddata]="dashboardData"></app-dashboard-bar-chart>
            
                  <div class="lable-main">
                    <label class="text-center"
                      >Graphical representation of the dashboard-district and time wise</label
                    >
                  </div>
                </div>
            </div>
            <div class="col-md-6 ">
              <div class="blk">
              4
            </div></div>
          </div>

      </div>
      <div class="tab-pane fade" id="v-pills-acts" role="tabpanel" aria-labelledby="v-pills-acts-tab" tabindex="0">...</div>
      <div class="tab-pane fade" id="v-pills-regions" role="tabpanel" aria-labelledby="v-pills-regions-tab" tabindex="0">...</div>
      <div class="tab-pane fade" id="v-pills-districts" role="tabpanel" aria-labelledby="v-pills-districts-tab" tabindex="0">...</div>
      <div class="tab-pane fade" id="v-pills-timey" role="tabpanel" aria-labelledby="v-pills-timey-tab" tabindex="0">timey...</div>
      <div class="tab-pane fade" id="v-pills-timeq" role="tabpanel" aria-labelledby="v-pills-timeq-tab" tabindex="0">timeq...</div>
      <div class="tab-pane fade" id="v-pills-industry" role="tabpanel" aria-labelledby="v-pills-industry-tab" tabindex="0">industry...</div>
    </div>
  </div>

 

 
  </div>
  </div>
  </div>


<!-- <button (click)="fetchUnsecure()" mat-raised-button>Fetch unsecure</button>
<div>{{unsecure}}</div>
<button (click)="fetchSecure()" mat-raised-button>Fetch secure</button>
<div>{{secure}}</div>
<button (click)="fetchSecureAdmin()" mat-raised-button>Fetch data for admin</button>
<div>{{secureAdmin}}</div> -->


</div>