<div class="bglightblue">
  <div class="container">
    <div class="content">
      <div class="d-md-flex justify-content-between border-b-org p-3">
        <h1>{{'search-brn.search-BRN' | translate}}</h1>
        <nav aria-label="breadcrumb">

          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{'search-brn.search-BRN' | translate}}</li>
          </ol>
        </nav>
      </div>
      <div class="p-3">
        <form [formGroup]="searchBrnFilter" (ngSubmit)="onSubmit()">
          <div class="form row px-3 mt-3 ">
            <p class="col-md-12">
              {{'search-brn.instruction' | translate }}
            </p>

            <div class="col-md-3">
              <div class="form-group">
                <label> {{'search-brn.district' | translate }} </label>
                <select class="form-select" formControlName="district">
                  <option [value]="-1">--Select--</option>
                  @for (district of districts; track district) {
                    <option [value]="district.censusDistrictCode">
                      {{ district.districtName | capitalize }}
                    </option>
                  }
                </select>
                @if (searchBrnFilter.get('district')?.hasError('forbiddenValue')) {
                  <div>
                    Invalid value selected.
                  </div>
                }
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>{{'search-brn.establishment-name' | translate }} </label>
                <textarea class="form-control" formControlName="nameOfEstablishmentOrOwner"></textarea>

                @if (searchBrnFilter.hasError('atLeastOneRequired')) {
                  <div>
                    {{'search-brn.establishment-name-instruction' | translate }}
                  </div>
                }
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label> {{'search-brn.brn' | translate }} </label>
                <input type="text" class="form-control" id="brnNo" formControlName="brnNo"
                  placeholder="{{'search-brn.brn-placeholder' | translate}}" />
                  @if (searchBrnFilter.get('brnNo')?.invalid && (searchBrnFilter.get('brnNo')?.dirty || searchBrnFilter.get('brnNo')?.touched)) {
                    <div
                      >
                      @if (searchBrnFilter.get('brnNo')?.errors?.['pattern']) {
                        <div> {{'search-brn.brn-instruction' | translate}}</div>
                      }
                    </div>
                  }
                  @if (searchBrnFilter.hasError('atLeastOneRequired')) {
                    <div>
                      {{'search-brn.establishment-name-instruction' | translate }}
                    </div>
                  }
                  @if (searchBrnFilter.get('brnNo')?.hasError('minlength') || searchBrnFilter.get('brnNo')?.hasError('maxlength')) {
                    <div
                      >
                      {{'search-brn.brn-instruction1' | translate}}
                    </div>
                  }
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label> </label>
                  <div class="d-md-flex">
                    <button type="submit" [disabled]="searchBrnFilter.invalid" class="btn btn-primary ms-2 w-75">Search <i
                    class="bi bi-search"></i> </button>
                  </div>
                </div>


              </div>

            </div>
          </form>
          @if (registryDetails.length > 0) {
            <div>
            </div>
          }
          <div class="table-responsive mt-5">
            @if (registryDetails.length > 0) {
              <div>
                <table class="table table-bordered table-striped">
                  <thead>
                    <th class="first">Sr.No</th>
                    <th>BRN </th>
                    <th>Establishment Name</th>
                    <th>City</th>
                    <th>District</th>
                    <th>Institution Type</th>
                  </thead>
                  <tbody>
                    @for (detail of registryDetails; track detail; let i = $index) {
                      <tr>
                        <td>{{ i + 1 }}</td>
                        <td>{{ detail.brnNo }}</td>
                        <td>{{ detail.nameOfEstablishmentOrOwner | capitalize }}</td>
                        <td>{{ detail.taluka | capitalize }}</td>
                        <td>{{ detail.district | capitalize }}</td>
                        <td>{{ detail.sector | capitalize }}</td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>
            } @else {
              @if (showNoDataAlert) {
                <div class="alert alert-warning mt-3" role="alert">
                  No data available!
                </div>
              }
            }
          </div>

        </div>
      </div>
    </div>
  </div>