<div class="bglightblue">
    <div class="container">
      <div class="content">
        <div class="d-md-flex justify-content-between border-b-org p-3">
      <h1>Search BRN</h1>
      <nav aria-label="breadcrumb">
       
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Search BRN</li>
        </ol>
      </nav>
    </div>
  <div class="p-3">
    <form [formGroup]="searchBrnFilter" (ngSubmit)="onSubmit()">
    <div class="form row px-3 mt-3 ">
        <p class="col-md-12">
            This functionality is to allow users to search for a BRN (Business Register Number), which is an unique identification number for institutions or organizations within the state of Maharashtra.
        </p>
        
        <div class="col-md-3">
            <div class="form-group">
                <label>DISTRICT </label>
              <select class="form-select" formControlName="district">
                <option [value]="-1">--Select--</option>
                <option *ngFor="let district of districts" [value]="district.censusDistrictCode">
                    {{ district.districtName }}
                  </option>
              </select>
              <div *ngIf="searchBrnFilter.get('district')?.hasError('forbiddenValue')">
                Invalid value selected.
              </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>ESTABLISHMENT NAME </label>
                <textarea class="form-control" formControlName="nameOfEstablishmentOrOwner"></textarea>
                
                <div *ngIf="searchBrnFilter.hasError('atLeastOneRequired')">
                    At least one of the fields 'Name of Establishment' or 'BRN No' is required.
                  </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label> BRN </label>
                <input type="text"
                class="form-control"
                id="brnNo"
                formControlName="brnNo"
                placeholder="Enter BRN number"
                />
                <div *ngIf="searchBrnFilter.get('brnNo')?.invalid && (searchBrnFilter.get('brnNo')?.dirty || searchBrnFilter.get('brnNo')?.touched)">
                    <div *ngIf="searchBrnFilter.get('brnNo')?.errors?.['pattern']">Only alphanumeric characters are allowed.</div>                  </div>
                  <div *ngIf="searchBrnFilter.hasError('atLeastOneRequired')">
                    At least one of the fields 'Name of Establishment' or 'BRN No' is required.
                  </div>
                  <div *ngIf="searchBrnFilter.get('brnNo')?.hasError('minlength') || searchBrnFilter.get('brnNo')?.hasError('maxlength')">
                    BRN number must be exactly 16 characters long.
                  </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label> </label>
                <div class="d-md-flex">
                <button type="submit" [disabled]="searchBrnFilter.invalid" class="btn btn-primary ms-2 w-75">Search <i class="bi bi-search"></i> </button>
            </div>
        </div>

           
        </div>
    
    </div>
</form>
<div *ngIf="registryDetails.length > 0">
    <div class="float-end d-md-flex  align-items-center gap-2">
        
            Export 
    
        <button class="btn btn-outline-success">
            <i class="bi bi-file-earmark-excel-fill"></i>
        </button>
        <button class="btn btn-outline-danger">
            <i class="bi bi-filetype-pdf"></i>
        </button>
    </div>
</div>
    <div class="table-responsive mt-5">
        <div *ngIf="registryDetails.length > 0; else noData">
        <table class="table table-bordered table-striped">
            <thead>
                <th class="first">Sr.No</th>
                <th>BRN </th>
                <th>Establishment Name</th>
                <th>City</th>
                <th>District</th>
                <th>Institution Type</th>
            </thead>
            <tbody>
                <tr *ngFor="let detail of registryDetails; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ detail.brnNo }}</td>
                    <td>{{ detail.nameOfEstablishmentOrOwner }}</td>
                    
                    <td>{{ detail.district }}</td>
                    <td>{{ detail.district }}</td>
                    <td>{{ detail.sector }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <ng-template #noData>
        <p>No data available.</p>
      </ng-template>
    </div>
  
    </div>
    </div>
    </div>
  </div>
  