<div class="bglightblue">
  <div class="container">
    <div class="content">
      <div class="d-md-flex justify-content-between border-b-org p-3">
        <h1>{{'search-brn.search-BRN' | translate}}</h1>
        <nav aria-label="breadcrumb">

          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{'search-brn.search-BRN' | translate}}</li>
          </ol>
        </nav>
      </div>
      <div class="p-3">
        <form [formGroup]="searchBrnFilter" (ngSubmit)="onSubmit()">
          <div class="form row px-3 mt-3 ">
            <p class="col-md-12">
              {{'search-brn.instruction' | translate }}
            </p>

            <div class="col-md-3">
              <div class="form-group">
                <label> {{'search-brn.district' | translate }} </label>
                <select class="form-select" formControlName="district">
                  <option [value]="-1">--Select--</option>
                  <option *ngFor="let district of districts" [value]="district.censusDistrictCode">
                    {{ district.districtName | capitalize }}
                  </option>
                </select>
                <div *ngIf="searchBrnFilter.get('district')?.hasError('forbiddenValue')">
                  Invalid value selected.
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>{{'search-brn.establishment-name' | translate }} </label>
                <textarea class="form-control" formControlName="nameOfEstablishmentOrOwner"></textarea>

                <div *ngIf="searchBrnFilter.hasError('atLeastOneRequired')">
                 {{'search-brn.establishment-name-instruction' | translate }}
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label> {{'search-brn.brn' | translate }} </label>
                <input type="text" class="form-control" id="brnNo" formControlName="brnNo"
                  placeholder="{{'search-brn.brn-placeholder' | translate}}" />
                <div
                  *ngIf="searchBrnFilter.get('brnNo')?.invalid && (searchBrnFilter.get('brnNo')?.dirty || searchBrnFilter.get('brnNo')?.touched)">
                  <div *ngIf="searchBrnFilter.get('brnNo')?.errors?.['pattern']"> {{'search-brn.brn-instruction' | translate}}</div>
                </div>
                <div *ngIf="searchBrnFilter.hasError('atLeastOneRequired')">
                  {{'search-brn.establishment-name-instruction' | translate }}
                </div>
                <div
                  *ngIf="searchBrnFilter.get('brnNo')?.hasError('minlength') || searchBrnFilter.get('brnNo')?.hasError('maxlength')">
                  {{'search-brn.brn-instruction1' | translate}}
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label> </label>
                <div class="d-md-flex">
                  <button type="submit" [disabled]="searchBrnFilter.invalid" class="btn btn-primary ms-2 w-75">Search <i
                      class="bi bi-search"></i> </button>
                </div>
              </div>


            </div>

          </div>
        </form>
        <div *ngIf="registryDetails.length > 0">

        </div>
        <div class="table-responsive mt-5">
          <div *ngIf="registryDetails.length > 0; else noData">
            <table class="table table-bordered table-striped">
              <thead>
                <th class="first">Sr.No</th>
                <th>BRN </th>
                <th>Establishment Name</th>
                <th>City</th>
                <th>District</th>
                <th>Institution Type</th>
              </thead>
              <tbody>
                <tr *ngFor="let detail of registryDetails; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ detail.brnNo }}</td>
                  <td>{{ detail.nameOfEstablishmentOrOwner }}</td>

                  <td>{{ detail.district }}</td>
                  <td>{{ detail.district }}</td>
                  <td>{{ detail.sector }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <ng-template #noData>
            <div *ngIf="showNoDataAlert" class="alert alert-warning mt-3" role="alert">
            No data available!
            </div>
          </ng-template>
        </div>

      </div>
    </div>
  </div>
</div>