<div class="bglightblue">
  <div class="container">
    <div class="content">
      <div class="d-md-flex justify-content-between border-b-org p-3">
    <h1>Login</h1>
    <nav aria-label="breadcrumb">
     
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Login</li>
      </ol>
    </nav>
  </div>


  <div class="loginform p-5"
  >
  <div class="row  mx-auto">
    <div class="col-md-6">
      <img src="../../../assets/images/mobileLogin.jpg" />

    </div>
    <div class="col-md-6">
      <form (ngSubmit)="login()" [formGroup]="loginForm" class="w-75">
       
    
          <p *ngIf="errorMessage">{{ errorMessage}}</p>
    
       
      
            <div class="form-group mb-3">
              <label> {{'username' | translate }} </label>
              <input formControlName="username" class="form-control">
            </div>
            <div class="form-group mb-3">
              <label>{{'Password' | translate }} </label>
              <input formControlName="password" class="form-control" type="password">
              <input formControlName="recaptchaResponse" id="recaptchaResponse" class="form-control" type="hidden">
            </div>
            <div class="form-group mb-3">
              <label>{{'Captcha' | translate }} </label>
              <div class="d-flex gap-2 justify-content-between">
                <img src="../../../assets/images/captcha.jpg" />
                <input formControlName="Captcha" class="form-control" type="text">
              </div>
               
              <input formControlName="recaptchaResponse" id="recaptchaResponse" class="form-control" type="hidden">
            </div>
            <div class="form-group" >
            <div id="recaptchaElement">
          </div>
    
           <!--   <div class="g-recaptcha"  data-sitekey="6Le8N_QpAAAAAJBErDqsniTRWKzU9m45WOcnoi7x"  ></div>-->
    
              
                <div *ngIf="captchaError" onclass="error">Recaptcha not verified.</div>
    
            </div>
         
          <button class="btn btn-primary" type="submit"> {{'signUpPageHeading' | translate }} </button>
        
     
      </form>
    </div>
  </div>

</div>

  
  </div>
  </div>
</div>
