<div class="darkblue p-2">
  <div class="container position-relative d-flex align-items-center">

    <!-- Center Emblem -->
    <!-- <div class="emblem text-center w-100">
      <a href="https://www.india.gov.in/" target="_blank" class="emb">
        <img [src]="emblemImg" alt="Example Image">
      </a>
    </div> -->
    <div class="emblem text-center w-100">
      <img [src]="emblemImg" alt="Example Image">
    </div>
    <!-- Right Panel -->
    <div class="rightPannel position-absolute end-0">
      <ul class="accessibility-menu posHome m-0">
        <li>
          <div class="font-size-controls">
            <button (click)="changeFontSize('small')" class="font-size-btn">A-</button>
            <button (click)="changeFontSize('medium')" class="font-size-btn">A</button>
            <button (click)="changeFontSize('large')" class="font-size-btn">A+</button>
          </div>
        </li>

        <li>
          <app-language-switcher></app-language-switcher>
        </li>

        <li class="text-light">|</li>

        <li>
          <a *ngIf="!(isLoggedIn$ | async)" [routerLink]="['/login']">
            {{ 'BUTTON.LOGIN' | translate }}
          </a>
        </li>
      </ul>
    </div>

  </div>
</div>