label {
    font-size: 1rem;
    color: var(--themeblue);
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 10px;
}



td.first {
    width: 30px;
}
.pdf-container {
  width: 100%;
  height: 80vh;
  overflow: auto;
  background: #f8f9fa;
}

.modal-content {
  border-radius: 12px;
}

.modal-body {
  height: 80vh;
  overflow: auto;
}


.modal-body {
  padding: 0.5rem;
  height: 60vh;
  overflow: auto;
}

.pdf-viewer {
  width: 100%;
  height: 100%;
}
