ul.details {
    padding: 20px;
    margin: 20px 0 0 0;

    border: 1px solid #D4EBFF;

}
ul.details li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: #2676C3;
font-size: 14px;
font-style: normal;
line-height: 30px; /* 185.714% */
text-transform: capitalize;
border-bottom: 1px dashed #ddd;
}

ul.details li span {
    color: #555;
    width: 30%;
    text-align: right;
}

ul.details li strong {
    color: #2676C3;
font-size: 13px;
font-weight: 500;
}


.details li span {
  width: 50%; /* value width */
  word-break: break-word; /* ensures long strings break into next line */
  white-space: normal; /* allows wrapping */
}

.mat-typography h4 {
   margin: 0 6px !important;
}
.d-flex.justify-content-between.align-items-center {
    border-bottom: 1px solid #efefef;
    padding-bottom: 5px;
}