.arrowUnique li {
    padding-left: 30px;
    background: url(../../../assets/images/arrowUnique.png) no-repeat;
    padding-bottom: 5px;
}

.arrowUnique li a {
    color: #232323;
}

.roundedUniq {
    border-radius: 25px 25px 0px 0px ;
}


.roundedUniqContent {
    border-radius: 0px 0px 25px 0px ;
    padding: 15px;
    border:1px solid #fa7304;
}

.arrowUnique li a:hover { color: #fa7304;}

h2 {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    background: #f78400;
    margin: 0;
    padding: 15px;
    border-radius:25px  25px 0px 0px ;
}

.carousel-container {
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
  .carousel {
    display: flex;
    transition: transform 0.5s ease; /* Smooth transition for slide effect */
  }
  
  .carousel-item {
    flex: 0 0 100%; /* Ensure each slide takes full width */
  }
  
  .carousel-item img {
    width: auto;
    height: 130px !important;
  }

  