<div class="file-drop-area">
    <span class="choose-file-button">Choose files</span>
    <span class="file-message">or drag and drop files here</span>
    <input type="file" class="file-input" (change)="onFileChange($event)" multiple>
</div>

<div *ngIf="selectedFiles.length > 0" class="file-list">
    <ul>
        <li class="border mb-2 p-3" *ngFor="let file of selectedFiles; let i = index">
            {{ file.name }}
            <button type="button" class="btn btn-danger btn-sm" (click)="removeFile(i)">Delete</button>
        </li>
    </ul>
</div>

<div *ngIf="uploadProgress > 0">
    <progress [value]="uploadProgress" max="100"></progress>
    <span>{{ uploadProgress }}%</span>
</div>
<div *ngIf="bRNGenerationRecordCount">
   
    <span>total Record | {{ bRNGenerationRecordCount.totalGeneration }}  </span> <br/>
    <span> total concern Record | {{ bRNGenerationRecordCount.concernData }}</span> <br/>
    <span> total BRN Generated  Record | {{ bRNGenerationRecordCount.totalBRNGeneretion }} </span> <br/>
    <span> total BRN duplicate  Record | {{ bRNGenerationRecordCount.duplicateGeneration }} </span> <br/>
</div>

<button class="btn btn-primary mt-3" (click)="uploadFile()">Upload</button>


<div class="status d-flex gap-3 mt-3">
    <div>Total BRN Generation  0 | </div>
    <div>Concern Data  0 |</div>
        <div>Duplicate Generation 0 | </div>
            <div>Total Generation 0</div>
    
</div>
