.file-drop-area {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
  padding: 50px;
  border: 2px dashed rgb(212, 212, 212);
  border-radius: 3px;
  transition: 0.2s;
  background: #ecf6ff;
  justify-content: center;
}

.choose-file-button {
  flex-shrink: 0;
  background-color: rgb(212, 230, 255);
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 3px;
  padding: 8px 15px;
  margin-right: 10px;
  font-size: 14px;
  text-transform: uppercase;
}

.file-message {
  font-size: small;
  font-weight: 300;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.file-drop-area span {
  color: #004056;
}
.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}

.mt-100 {
  margin-top: 100px;
}

.file-drop-area {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  margin-bottom: 15px;
}

.file-list ul {
  list-style-type: none;
  padding: 0;
}

.file-list li {
  margin-bottom: 5px;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}

.file-list button {
  margin-left: 10px;
}
.dash-box {
  box-shadow: 0px 0px 4px 0px #000;
  padding: 10px 5px;
  text-align: center;
  font-weight: 500;
  margin: 15px 0px;
  border-radius: 8px;
}
.dash-box1 {
  background: #BDD8FF;
}
.dash-box2 {
  background: #FFBDFA;
}
.dash-box3 {
  background: #FFE3BD;
}
.dash-box4 {
  background: #BDFFC2;
}
.dash-box p {
  font-size: 16px;
    margin: 5px 0 !IMPORTANT;
    font-family: fantasy;
    letter-spacing: 1px;
}
.text-right {
  text-align: right;
}