<div class="w-full">
    <h2 >Feedback</h2> 
    <div class="roundedUniqContent">
    <ul class="">
        <li class="border-b pb-2">
            <span>
                Good
            </span><br/>
            <span class="text-blue-600">Jaiprakash [Mumbai]</span>
        </li>
        <li class="border-b pb-2">
            <span>
                Very easy and free
            </span><br/>
            <span class="text-blue-600">Ashwani Sharma [Nagpur]</span>
        </li>
        <li class="border-b pb-2">
            <span>
                Very nice and useful link and website easy to register
            </span><br/>
            <span class="text-blue-600">Rahul Meena [Ahmednagar]</span>
        </li>
    
    </ul>
   
    </div>
    </div>