.logoSection{
    background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(215,230,245,1) 100%);
}
.logo h1{
    font-weight: 800;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: var(--darkblue);
    text-align: center;
    margin-left: 15px;
    width: 450px;
    text-align: left;
    margin-bottom: 0px;
}

.logo h1 span {
    font-size: 0.9rem;
    color: #000;
    font-weight: 400;
    display: block;
    text-transform: capitalize;
}

h1 {
    font-weight: 700;
}

.logo img {
    height: 50px;
}
 @media screen and (max-width:767px){
    .logo h1{
        width: auto;
}
}

