<app-topbar></app-topbar>

<div class="logoSection py-3">
  <div class="container mx-auto">
   <div class="d-flex justify-content-between">
  <div class="logo d-flex">
      <img [src]=mh_logo class="img-fluid" />
      <h1>
          STATE BUSINESS REGISTRATION
          <span>Directorate of Economics and Statistics Planning Department, Government of Maharashtra</span>
      </h1>
  </div>
  <div>
  <a class="btn btn-primary " routerLink="/login">Login</a></div>
</div>
  <app-nav></app-nav>
 
</div>
</div>

