.top-bar a {
    color: #000;
    text-decoration: none;
    padding: 10px 3px;
}

.top-bar ul {
    list-style-type: none;
    padding: 5px 7px;
}

.off-css {
    display: none !important;
}

.skip-content-main {
    display: flex;
    justify-content: space-between;
}

.goiSearch,
.socialIcons,
.textSizing {
    display: none;
}

.top-bar * {
    font-size: 13px !important;
}

.socialIcons li {
    margin: 5px 0;
}

.textSizing li {
    margin: 5px 0;
    border: 1px solid;
    padding: 0 3px;
    text-align: center;
}

.top-bar-main {
    border-bottom: 1px solid #d8d8d8;
}

.top-bar>div {
    border-left: 1px solid #d8d8d8;
}

.skip-content-main div {
    border-left: 1px solid #d8d8d8 !important;
    padding: 3px 9px;
}

.row.top-bar .col-md-3,
.row.top-bar .col-md-5 {
    padding-top: 5px;
}

.lang-main {
    border-right: 1px solid #d8d8d8 !important;
}

.row.top-bar .col-md-3:hover,
.row.top-bar .col-md-3:hover a,
.row.top-bar .col-md-5:hover,
.row.top-bar .col-md-5:hover a,
a.skip-to-content:hover,
.skip-content-main div:hover,
.skip-content-main div:hover a {
    background: #333333;
    color: #ffffff;
}

.skip-content-main div:hover img {
    filter: grayscale(1) invert(1);
}

.row.top-bar .col-md-4 {
    padding: 0;
}

.logo-text {
    display: inline-block;
    vertical-align: middle;
    margin: 11px 0 0 10px;
    color: #000;
}

.logo {
    float: left;
    font-size: 160%;
    line-height: 105%;

}

.right-logo-main {
    float: inline-end;
}

.lang-select-box {
    padding: 3px 0;
}

.header-container {
    border-bottom: 1px solid #d8d8d8;
    padding: 4px 0;
}

a.nav-item.nav-link.active,
a.nav-item.nav-link:hover {
    background: #9e6b22;
    color: #fff;
}

a.nav-item.nav-link {
    padding: 12px 19px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    outline: medium none;
    transition: all 0.4s ease 0s;
}

nav.navbar.navbar-expand-lg {
    padding: 0 !important;
}

.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 27px;
    margin-top: 3px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ca2222;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2ab934;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(55px);
    -ms-transform: translateX(55px);
    transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.on {
    display: none;
}

.on,
.off {
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
}

input:checked+.slider .on {
    display: block;
}

input:checked+.slider .off {
    display: none;
}

/*--------- END --------*/

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.menumain-container {
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 20px;
}
h1.site_name_english {
    font-size: 26px;
    font-weight: bold;
}
@media screen and (max-width:767px) {
    .sm-hide {
        display: none;
    }

    .sm-text-center {
        text-align: center;
    }

    .skip-content-main {
        border-top: 1px solid #d8d8d8;
    }

    .skip-content-main div {
        padding: 10px 0px;
    }

    .skip-content-main {
        justify-content: center;
    }

    img#logo {
        width: 70px ! IMPORTANT;
        height: auto;
    }

    img.sw-logo {
        width: 65px;
        height: auto;
    }


}