.blk {
    border: 1px solid #ddd;
    padding: 20px 15px !important;
    text-align: center;
    margin-bottom: 15px;
}

.dashboardTabs  #v-pills-tab {
    background: #2676C3;
    width: 450px;
    padding: 30px;
    min-height: 57vh;
}

h3 {
    font-size: 1rem;
    color: orange;
}

.tab-content {
    width: 100%;
}

.dashboardTabs  #v-pills-tab button {
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
border: 1px solid #48A5FF;
margin-bottom: 5px;
text-align: left;
}
.dashboardTabs  #v-pills-tab button.active, .dashboardTabs  #v-pills-tab button:hover {
    background: #004056;
}

.dashboardTabs  #v-pills-tab button img, 
.dashboardTabs  #v-pills-tab button svg {
    margin-right: 10px ;
}
.cust-butns {
    z-index: 99;
    position: absolute;
    right: 11%;
} 
.tab-content-set {
    margin-top: 3%;
}
#adminDropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* remove gap */
  min-width: 134px !important;
}
