.ch-main {
    width: 19%;
    border: 1px solid #ddd;
    padding: 15px 30px;
    line-height: 30px;
}
form {
    background: #F0F8FF;
    border: 1px solid #b3d1ec;
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 0px 10px 10px #00000020;
}

.btn {
    background: var(--themeblue);
    border: var(--themeblue);
    width: 100%;
    margin-top: 15px;
    padding: 15px;
}

.loginform {
    width: 80%;
    margin: 0 auto;
}