<!-- change-password.component.html -->

<div class="container ch-main">
    <h2>Change Password</h2>

    <h2 class="error">{{errorMessage}}</h2>


    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="newPassword">New Password:</label>
        <input type="password" class="form-control" id="newPassword" name="newPassword" [(ngModel)]="changePasswordModel.newPassword" required>
      </div>
      <div class="form-group">
        <label for="newPasswordConfirm">Confirm New Password:</label>
        <input type="password" class="form-control" id="newPasswordConfirm" name="newPasswordConfirm" [(ngModel)]="changePasswordModel.newPasswordConfirm" required>
      </div>
      <div class="form-group">
        <label for="password">Current Password:</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="changePasswordModel.password" required>
      </div>
      <br/>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  