
<div class="container mx-auto">
<app-carosel></app-carosel>
<app-news-ticker></app-news-ticker>
</div>
<div class="homeDesign">
  <div class="container mx-auto">
<h1 class="text-center  mb-3  ">{{ 'Home.welcome_title' | translate }}</h1>
<p class="text-white text-lg text-center">{{ 'Home.welcome_desc' | translate }}</p>
<p class="mt-5 text-center">
  <a href="#links" class="btn btn-round-org mx-auto">{{ 'Home.read_more' | translate }}</a>
</p>
</div>
</div>

<app-owl-corosal></app-owl-corosal>

<!-- <div class="my-5">
  <div class="container mx-auto d-flex gap-5 justify-content-between">
      <app-circlular class="w-100"></app-circlular>
      <app-feedback class="w-100"></app-feedback>
      <app-awards class="w-100"></app-awards>
  </div>
</div> -->