<div class="homeDesign">
  <div class="container mx-auto">
<h1 class="text-center  mb-3  ">Welcome to our Website ...</h1>
<p class="text-white text-lg text-center">Sanstha Aadhaar Number (SAN) is the unique ID given to all Govt. departments, Boards/ Corporation/ Autonomous Body/ Non-government organizations and all enterprises including private enterprises established in Rajasthan. Such a database when complete will be an integrated platform for all institutions and will be used for planning and monitoring by the government. All type of benefits /services/ subsidies shall be given by “Sanstha Aadhaar”.. Such a database when complete will be an integrated platform for all institutions and will be used for planning and monitoring by the government. All type of benefits /services/ subsidies shall be given by “Sanstha Aadhaar”.</p>
<p class="mt-5 text-center">
  <a href="#links" class="btn btn-round-org mx-auto">Read More</a>
</p>
</div>
</div>

<div class="my-5">
  <div class="container mx-auto d-flex gap-5 justify-content-between">
      <app-circlular class="w-100"></app-circlular>
      <app-feedback class="w-100"></app-feedback>
      <app-awards class="w-100"></app-awards>
  </div>
</div>