.accordion-button:not(.collapsed) {
    color: #fff;
    background-color: #2676C3 !important;
    box-shadow: inset 0 calc(-1* var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.accordion-button {
    background-color: #eaf4fc !important; 
}

button i {
    font-size: 1.2rem;
    font-weight: 500;
}
.profiles li {
    list-style: none;
    display: block;
    padding: 15px 0;
    border-bottom:1px solid #ddd;
}
.profiles li:first-child {padding-top: 0px;}
.profiles li img {
    width: 70px;
    display: inline-block;
    margin-right: 15px;
}

.profiles {
    padding: 0;
}
.profiles li h2, h3 {
    color: #F88204;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0px;
}
.profileDetails {
    display: inline-block;
    vertical-align: top;
}


.profileDetails span {
    color: #000;
}