<div class="bglightblue">
  <div class="container">
    <div class="content">
      <div class="d-md-flex justify-content-between border-b-org p-3">
    <h1>{{'aboutus.aboutUs' | translate}}</h1>
    <nav aria-label="breadcrumb">
     
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{'aboutus.aboutUs' | translate}}</li>
      </ol>
    </nav>
  </div>
<div class="p-3">
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <i class="bi bi-arrow-down-right-circle-fill pe-3"></i>  {{'aboutus.aboutDES' | translate }}
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
         <p>{{'aboutus.aboutDESP1' | translate}}</p>

          <p>{{'aboutus.aboutDESP2' | translate}}</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <i class="bi bi-arrow-down-right-circle-fill pe-3"></i> {{'aboutus.about-state-business-register' | translate}}
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>{{'aboutus.about-state-business-register-P1' | translate}}</p>

       <p> {{'aboutus.about-state-business-register-P2' | translate}}</p> 
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <i class="bi bi-arrow-down-right-circle-fill pe-3"></i> {{'aboutus.list-of-concerned-officer' | translate}}
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
        <ul class="profiles">
          <li>
            <img src="../../../assets/images/profile.png" class="userprofile" />
            <div class="profileDetails">
                <h2>{{'aboutus.mr' | translate}} : abc abc abc </h2>
                <h3>{{'aboutus.designation' | translate}} : <span>Designation</span></h3>
                <h3>{{'aboutus.contact-details' | translate}} : <span>Lorem Ipsum is simply dummy text of the printing </span></h3>
            </div>
          </li>
          <li>
            <img src="../../../assets/images/profile.png" class="userprofile" />
            <div class="profileDetails">
                <h2>{{'aboutus.mr' | translate}} : abc abc abc </h2>
                <h3>{{'aboutus.designation' | translate}} : <span>Designation</span></h3>
                <h3>{{'aboutus.contact-details' | translate}} : <span>Lorem Ipsum is simply dummy text of the printing </span></h3>
            </div>
          </li>
        </ul>
        </div>
      </div>
    </div>
  </div>

  </div>
  </div>
  </div>
</div>
