<footer>
  <div class="footerbg">
    <div class="container d-flex justify-content-between">
      <div class="visitor">
        <!-- <a routerLink="#links">
          Total visitors : 4481   
        </a>
        <a routerLink="#links">
          Today’s Count : 4
        </a>
        <a routerLink="#links">
          Last Reviewed : 22/04/2024
        </a> -->
      </div>
      <div class="footerLink">
        <a routerLink="/feedback">
         Feedback
        </a>
        <a routerLink="/contactus">
          Contact Us
        </a>
        <a routerLink="/important-document">
          Important Documents
        </a>
      </div>
    </div>
     
  </div>
  <div class="darkbg">
    <div class="container d-flex justify-content-center">
 <div class="social">
      <a routerLink="#links">
        <i class="bi bi-facebook"></i>
      </a>
      <a routerLink="#links">
        <i class="bi bi-twitter-x"></i>
      </a>
      <a routerLink="#links">
        <i class="bi bi-instagram"></i>
      </a>
      <a routerLink="#links">
        <i class="bi bi-youtube"></i>
      </a>
    </div>
<span>
     Copyright © Maharashtra Apprenticeship Promotion Scheme. Designed and Developed by <a routerLink="#links">MahaIT</a>
    </span>
  </div>
  </div>
</footer>