.footerbg {
    background: #007097;
    color: #fff;
    padding: 10px;
}

.visitor a {
    border: 1px solid #168ec9;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 8px 10px;
    margin-right: 15px;
}

.footerLink a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.footerbg  a:hover, .darkbg a:hover {
    background-color: #f18016;
}
.darkbg {
    background: #000;
    padding: 10px;
    color: #fff;
    text-align: center;
}

.darkbg a {
    color: #fff;
    display: inline-block;
    padding: 5px;
    text-decoration: none;
}
.darkbg  span a {
    color: #f18016;
}

.darkbg  span a:hover {
    background: #fff;
}