<div class="circlular">
<h2>CIRCULAR’S</h2> 
<div class="roundedUniqContent">
<ul class="arrowUnique mb-0">
    <li>
        <a href="#ilns">From 1/1/2016 Please select office AROF Aurangabad for Nashik, Dhule, Jalgaon, Nandurbar.</a>
    </li>
    <li>
        <a href="#ilns">New Address of Aurangabad office w.e.f. 01/06/2016 Assistant Registrar of Firm, Aurangabad Office No. 101, Siddharth Arcade, Vedant Nagar, In front of M.T.D.C. Holiday Camp, Station Road, Aurangabad-431 005 Pho. No. 0240 – 2970498</a>
        </li>

</ul>
<a href="#Read More..." class="float-end linkorg">Read More...</a>
<div class="clearfix"></div>
</div>
</div>