  <div class="container">
    <h2>Departments</h2>
  
    <div class="card m-5 p-3">
        <div class="card-body">
            <table id="example" class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Name</th>
                    <th>Update</th>
                    <th>delete</th>
            
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let department of departments;let i = index">
                    <td>{{ i+1}}</td>
                    <td>{{ department.departmentName}}</td>
                    <td> <button (click)="updateDepartment(department)">Update</button></td>
                    <td><button (click)="deleteDepartment(department.departmentId)">Delete</button></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
  
  <hr>
  
  <div>
    <h2>Create / Update Department</h2>
    <form #departmentForm="ngForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="departmentName">Department Name</label>
        <input type="text" id="departmentName" name="departmentName" [(ngModel)]="newDepartment.departmentName" required>
      </div>
      <!-- Add more input fields as necessary -->
      <button type="submit" [disabled]="departmentForm.invalid">Submit</button>
    </form>
  </div>


<script>
  $(document).ready(function() {
    $('#example').DataTable();
  });
</script>