.blk {
    border: 1px solid #ddd;
    padding: 20px 15px !important;
    text-align: center;
    margin-bottom: 15px;
}

.dashboardTabs  #v-pills-tab {
    background: #2676C3;
    width: 450px;
    padding: 30px;
}

h3 {
    font-size: 1rem;
    color: orange;
}

.tab-content {
    width: 100%;
}

.dashboardTabs  #v-pills-tab button {
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
border: 1px solid #48A5FF;
margin-bottom: 5px;
text-align: left;
}
.dashboardTabs  #v-pills-tab button.active, .dashboardTabs  #v-pills-tab button:hover {
    background: #004056;
}

.dashboardTabs  #v-pills-tab button img, 
.dashboardTabs  #v-pills-tab button svg {
    margin-right: 10px ;
}
 




.file-drop-area {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 50px;
    border: 2px dashed rgb(212, 212, 212);
    border-radius: 3px;
    transition: 0.2s;
    background: #ecf6ff;
    justify-content: center;
   
  }
  
  .choose-file-button {
    flex-shrink: 0;
    background-color: rgb(212, 230, 255);
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 3px;
    padding: 8px 15px;
    margin-right: 10px;
    font-size: 14px;
    text-transform: uppercase;
  }
  
  .file-message {
    font-size: small;
    font-weight: 300;
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .file-drop-area span {
    color: #004056;
  }
  .file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
    
  }
  
  .mt-100{
      margin-top:100px;
  }
