
<div class="bglightblue">
    <div class="container">
      <div class="content">
        <div class="d-md-flex justify-content-between border-b-org p-3">
      <h1>Dashboard</h1>
      <nav aria-label="breadcrumb">
       
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
        </ol>
      </nav>
    </div>
  <div class="p-3">
  
    <div class="d-flex align-items-start dashboardTabs">
      <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button class="nav-link active" id="v-Pills-dashboard-tab" data-bs-toggle="pill" data-bs-target="#v-Pills-dashboard" type="button" role="tab" aria-controls="v-Pills-dashboard" aria-selected="true"><img src="../../../assets/images/icon/dashboard.png" /> Dashboard</button>
        <button class="nav-link" id="v-pills-acts-tab" data-bs-toggle="pill" data-bs-target="#v-pills-acts" type="button" role="tab" aria-controls="v-pills-acts" aria-selected="false"><img src="../../../assets/images/icon/act.png" /> Detailed Page</button>
    
        <button class="nav-link" id="v-pills-regions-tab" data-bs-toggle="pill" data-bs-target="#v-pills-regions" type="button" role="tab" aria-controls="v-pills-regions" aria-selected="false"><img src="../../../assets/images/icon/region.png" /> Upload CSV</button>
        
      </div>
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-Pills-dashboard" role="tabpanel" aria-labelledby="v-Pills-dashboard-tab" tabindex="0">
            <div class="float-end d-md-flex  align-items-center gap-2">
        
                Export 
        
            <button class="btn btn-outline-success">
                <i class="bi bi-file-earmark-excel-fill"></i>
            </button>
            <button class="btn btn-outline-danger">
                <i class="bi bi-filetype-pdf"></i>
            </button>
        </div>
        <div class="clearfix"></div>
        <div class="table-responsive mt-2">
            <table class="table table-bordered table-striped">
                <thead>
                    <th class="first">Sr.No</th>
                    <th>BRN </th>
                    <th>Establishment Name</th>
                    <th>City</th>
                    <th>District</th>
                    <th>Institution Type</th>
                </thead>
                <tbody>
                    <tr>
                        <td>1.</td>
                        <td>
                            0914870000000374
                        </td>
                        <td>
                            SAGART GALLEY & UNISEX SALON
                        </td>
                        <td>
                            Kishangarh Rural Maliyon Ki Badi Kishangarh AJMER 305801
                        </td>
                        <td>
                            Mumbai
                        </td>
                        <td>
                            FIRM
                        </td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>
                            0914870000000374
                        </td>
                        <td>
                            SAGART GALLEY & UNISEX SALON
                        </td>
                        <td>
                            Kishangarh Rural Maliyon Ki Badi Kishangarh AJMER 305801
                        </td>
                        <td>
                            Mumbai
                        </td>
                        <td>
                            FIRM
                        </td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td>
                            0914870000000374
                        </td>
                        <td>
                            SAGART GALLEY & UNISEX SALON
                        </td>
                        <td>
                            Kishangarh Rural Maliyon Ki Badi Kishangarh AJMER 305801
                        </td>
                        <td>
                            Mumbai
                        </td>
                        <td>
                            FIRM
                        </td>
                    </tr>
                    <tr>
                        <td>4.</td>
                        <td>
                            0914870000000374
                        </td>
                        <td>
                            SAGART GALLEY & UNISEX SALON
                        </td>
                        <td>
                            Kishangarh Rural Maliyon Ki Badi Kishangarh AJMER 305801
                        </td>
                        <td>
                            Mumbai
                        </td>
                        <td>
                            FIRM
                        </td>
                    </tr>
                    <tr>
                        <td>5.</td>
                        <td>
                            0914870000000374
                        </td>
                        <td>
                            SAGART GALLEY & UNISEX SALON
                        </td>
                        <td>
                            Kishangarh Rural Maliyon Ki Badi Kishangarh AJMER 305801
                        </td>
                        <td>
                            Mumbai
                        </td>
                        <td>
                            FIRM
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="table-responsive mt-2">
            <div *ngIf="registryDetails.length > 0; else noData">
            <table class="table table-bordered table-striped">
                <thead>
                    <th class="first">Sr.No</th>
                    <th>BRN </th>
                    <th>Establishment Name</th>
                    <th>City</th>
                    <th>District</th>
                    <th>Institution Type</th>
                </thead>
                <tbody>
                    <tr *ngFor="let detail of registryDetails; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ detail.brnNo }}</td>
                        <td>{{ detail.nameOfEstablishmentOrOwner }}</td>
                        
                        <td>{{ detail.district }}</td>
                        <td>{{ detail.district }}</td>
                        <td>{{ detail.sector }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ng-template #noData>
            <p>No data available.</p>
          </ng-template>
        </div>
        
        </div>
        <div class="tab-pane fade" id="v-pills-acts" role="tabpanel" aria-labelledby="v-pills-acts-tab" tabindex="0">
            
            <div class="d-flex justify-content-between">
                <h3>BRN : 98756454564</h3>

                <div class="d-md-flex  align-items-center gap-2">
            
                    Export 
            
                <button class="btn btn-outline-success">
                    <i class="bi bi-file-earmark-excel-fill"></i>
                </button>
                <button class="btn btn-outline-danger">
                    <i class="bi bi-filetype-pdf"></i>
                </button>
            </div>
            </div>
           
        <div class="clearfix"></div>
 <app-dashboard-details></app-dashboard-details>

        </div>
         <div class="tab-pane fade" id="v-pills-regions" role="tabpanel" aria-labelledby="v-pills-regions-tab" tabindex="0">
            <app-upload-csv></app-upload-csv>
          

        </div>
      
      </div>
    </div>
  
   
  
   
    </div>
    </div>
    </div>
  
  
  <!-- <button (click)="fetchUnsecure()" mat-raised-button>Fetch unsecure</button>
  <div>{{unsecure}}</div>
  <button (click)="fetchSecure()" mat-raised-button>Fetch secure</button>
  <div>{{secure}}</div>
  <button (click)="fetchSecureAdmin()" mat-raised-button>Fetch data for admin</button>
  <div>{{secureAdmin}}</div> -->
  
  
  </div>