<!-- menu-crud.component.html -->
<h2>Menu List</h2>
<ul>
  <li *ngFor="let menu of menus" (click)="selectMenu(menu)">
    {{ menu.menuNameEnglish }} - {{ menu.menuNameMarathi }}
  </li>
</ul>

<h2>Create Menu</h2>
<form (submit)="createMenu()">
  <input type="text" [(ngModel)]="newMenu.menuNameEnglish" name="menuNameEnglish" placeholder="Menu Name (English)">
  <input type="text" [(ngModel)]="newMenu.menuNameMarathi" name="menuNameMarathi" placeholder="Menu Name (Marathi)">
 

  
  <select name="isActive" [(ngModel)]="newMenu.isActive">
    <option [value]="1" selected>Active</option>
    <option [value]="0" selected>InActive</option>
    
  </select>
  <button type="submit">Create</button>
<h2>Edit Menu</h2>
<form *ngIf="selectedMenu" (submit)="updateMenu()">
  <input type="text" name="menuNameEnglish" [(ngModel)]="selectedMenu.menuNameEnglish">
  <input type="text"   name="menuNameMarathi" [(ngModel)]="selectedMenu.menuNameMarathi">
  
  <select name="isActive" [(ngModel)]="selectedMenu.isActive">
    <option [value]="1" selected>Active</option>
    <option [value]="0" selected>InActive</option>
    
  </select>

  <button type="submit">Update</button>
</form>

<button (click)="deleteMenu()">Delete</button>
