<div class="d-flex ticker-bg mb-5">
  <div class="tickerHead">{{ 'newsTicker.heading' | translate }}</div>

  <div class="ticker-container d-flex">
    <div class="ticker-wrapper"
      [style.transform]="tickerTransform"
      [style.transition]="isTransitioning ? 'transform 0.5s ease' : 'none'">
      @for (item of displayItems; track item) {
        <div class="ticker-content">
          {{ item }}
        </div>
      }
    </div>
  </div>

  <div class="ticker-controls d-flex">
    <button class="btn btn-outline-light" (click)="prevItem()">
      {{ 'newsTicker.prevBtn' | translate }}
    </button>

    <button class="btn btn-outline-light" (click)="togglePlayStop()">
      {{ isPlaying ? ('newsTicker.stopBtn' | translate) : ('newsTicker.playBtn' | translate) }}
    </button>

    <button class="btn btn-outline-light" (click)="nextItem()">
      {{ 'newsTicker.nextBtn' | translate }}
    </button>
  </div>
</div>
