.ticker-container .ticker-wrapper {
  
    color: #fff;
    padding: 10px;
    white-space: nowrap;
    display: flex;

  }

  .ticker-container  {
    overflow: hidden;
  }
  
 
  
  .ticker-content {
    flex: 0 0 auto;
    padding: 0 20px;
    color: #bd0f0f;
  }
  
  
  button {
    margin-right: 10px;
    color: var(--darkblue);
  }
  .ticker-bg {
    background: #d8edf5;
    padding: 10px;
    border-radius: 50px;
    float: left;
    width: 100%;
}
  
  
.tickerHead {
    BACKGROUND: #FF9800;
    padding: 19px 10px 10px 10px;
    color: #fff;
    width: 250px;
    margin: -10px 5px -10px -10px;
    text-align: center;
    border-radius: 30px 0px 0px 30px;
}
.btn-outline-light {
  background: #00000010;
}