<!-- src/app/nav/nav.component.html -->
<nav class="mx-auto d-flex pt-2">
  <!-- Loop navigation links -->
  <a *ngFor="let link of filteredNavLinks"
     [attr.href]="link.url || null"
     [routerLink]="link.routerLink || null"
     [ngClass]="link.class">
    {{ link.label | translate }}
  </a>

  <!-- Logout (only if logged in) -->
   <!-- <a *ngIf="isLoggedIn$ | async"
     href="#"
     class="nav-item nav-link"
     (click)="logout()">
    {{ 'logoutTitle' | translate }}
  </a>  -->
</nav>



  