<!-- src/app/nav/nav.component.html -->
<nav class="mx-auto d-flex pt-2">

        <a href="/" class="">Home</a>
        <a routerLink="/aboutus" class="">About Us</a>
        <a routerLink="/search-brn" class="">Search BRN</a>
        <a routerLink="/dashboard" class="">Dashboard</a>
        <a routerLink="/faq" class="">FAQ</a>
        <a routerLink="/circular" class="">Circular</a>
        <!-- <div *ngFor="let item of menuItems" class="menu-item">
            <a [routerLink]="item.route" class="">{{ item.name }}</a>
        
            <div *ngIf="item.submenus && item.submenus.length > 0" class="submenu">
              <div *ngFor="let submenu of item.submenus" class="submenu-item">
                <a [routerLink]="submenu.route" class="">{{ submenu.name }}</a>
              </div>
            </div>
          </div> -->
  </nav>
  