nav a { text-decoration:none; display: block; padding: 7px 0px; margin:0 15px  ; color: #2f6fba; font-size: 1rem; border-bottom: 2px solid transparent;}
nav a:hover { cursor: pointer; border-bottom: 2px solid #ff8903;}