#footer {
    margin-top: 35px;
}

#footer {
    background: #111111;
    padding: 25px 0px 0px;
    color: #fff ! IMPORTANT;
}

footer a {
    color: #fff ! IMPORTANT;
}

#footer .footerMenu {
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#footer .footerMenu ul {
    display: inline-block;
}

#footer ul {
    list-style: none;
}

#footer .footerMenu ul li {
    display: inline-block;
    color: #7e7d7d;
}

#footer ul li,
#footer1 ul li,
#footer2 ul li {
    list-style-type: none;
    padding-bottom: 0;
}

.mva7-thc-activetheme-district-theme #footer .footerMenu ul li a {
    color: #fff;
    text-transform: capitalize;
    text-align: center;
}

#footer .copyRights {
    background: #0c0c0c;
    padding: 10px 0px 0px;
    text-align: center;
}

.ctnt-ownd-dis {
    font-size: 0.85em;
}

.color-white {
    color: #fff;
}

.pd-bottom5 {
    padding-bottom: 5px !important;
}

#footer .copyRights .copyRightsText {
    width: auto;
}

.mva7-thc-activetheme-district-theme #footer .footerMenu ul li a,
.mva7-thc-activetheme-district-theme .copyRights .copyRightsText,
.home-1 #footer .footerMenu ul li a,
.home-1 .copyRights .copyRightsText {
    color: #fff;
    text-transform: capitalize;
    text-align: center;
}

.copyRights .copyRightsText {
    color: #716f6f;
    font-size: 0.85em;
    width: 30%;
    min-width: 300px;
}

.copyRights .NicLogo,
.copyRights .copyRightsText {
    display: inline-block;
    vertical-align: middle;
}

.copyRightsText {
    position: relative;
}

.mva7-thc-activetheme-district-theme .copyRightsText p {
    text-align: center !important;
}
.mva7-thc-activetheme-district-theme .copyRightsText a, .home-1 .copyRightsText a {
    color: #a3d2f9;
}
#footer .footerMenu ul li a {
    display: block;
    padding: 5px 10px;
    color: #7e7d7d;
    text-transform: CAPITALIZE;
    text-decoration: none;
}
.copyRights .copyRightsLogos {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
}
.copyRights .copyRightsLogos a {
    display: inline-block;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px;
}
img.ft-logo {
    width: 60px;
}
#footer ul li:hover {
    text-decoration: underline;
}