<!-- <footer class="container-fluid text-center">
  <p>Developed By MahaIt Team </p>
</footer> -->

<footer id="footer">
    <div class="container">
      <div class="footerMenu">
        <ul id="menu-footer-en" class="menu">
          <li id="menu-item-2501"
            class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-1511 current_page_item menu-item-2501 active ">
            <a href="#" aria-current="page">Website Policies</a></li>
          <li id="menu-item-2503" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2503"><a
              href="#">Help</a></li>
          <li id="menu-item-2506" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2506"><a
              href="#">Contact Us</a></li>
          <li id="menu-item-2535" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2535"><a
              href="#">Feedback</a></li>
        </ul>
      </div>
      <div class="copyRights">
        <div class="pd-bottom5 color-white ctnt-ownd-dis">Content Owned by District Administration</div>
        <div class="copyRightsText">
          <p>{{"devAndHostby" | translate}} <a href="#" target="_blank"
              aria-label="MahaIT - External site that opens in a new window"
              title="MahaIT - External site that opens in a new window"
              rel="noopener noreferrer">MahaIT</a>,<br> {{"GovOfMaha" | translate}}</p>
          <p>Last Updated: <strong>May 17, 2024</strong></p>
        </div>
        <div class="copyRightsLogos"> <a href="#"
            title=" MahaIT- External site that opens in a new window" target="_blank"
            rel="noopener noreferrer"><img  src="assets/images/mahait_logo.png" alt="MahaIT" class="ft-logo"></a>  
        </div>
      </div>
    </div>
  </footer>