.list-group-item-action {
  cursor: pointer;
}

.list-group-item-action:hover {
  background-color: #f1f1f1;
}

.list-group-item-action {
  cursor: pointer;
}

.list-group-item-action:hover,
.list-group-item.active {
  background-color: #89a1b9;
  color: white;
}
