.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-toggle {
    width: 200px;
    text-align: left;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  }
  
  .dropdown.open .dropdown-menu {
    display: block;
  }
  
  .dropdown-menu li {
    padding: 3px 20px;
  }
  .filters {
    text-align: justify;
    border: 1px solid #ddd;
    padding: 5px 5px;
    background: #f0f8ff;
    border-radius: 10px 10px;
}
.dropdown-toggle::after {
    margin-left: 65% !important;
}
.cust-dropdown-menu {
  max-height: 200px !important;
  overflow-y: auto !important;
}
.filters{
  max-height: 150px;
  overflow-y: auto;
}