<div class="dropdown" [class.open]="dropdownOpen" [class.dropdown-disabled]="disabled" (mouseleave)="onMouseLeave($event)">
    <button
        class="form-control dropdown-toggle multi-select-trigger"
        type="button"
        [attr.id]="controlId || null"
        [attr.aria-controls]="controlId ? controlId + '-listbox' : null"
        [attr.aria-expanded]="dropdownOpen"
        [attr.aria-required]="required"
        aria-haspopup="listbox"
        [disabled]="disabled"
        (click)="toggleDropdown()">
        <span class="multi-select-text" [title]="getSelectedText()">{{ getSelectedText() }}</span>
    </button>
    <ul class="dropdown-menu cust-dropdown-menu" [attr.id]="controlId ? controlId + '-listbox' : null" role="listbox">
        <li>
            <label>
                <input type="checkbox" [checked]="isAllSelected()"
                    (change)="isAllSelected() ? deselectAll() : selectAll()" />
                {{ isAllSelected() ? 'Deselect All' : 'Select All' }}
            </label>
        </li>
        <li *ngFor="let item of items">
            <label>
                <input type="checkbox" (change)="onCheckboxChange($event, item)" [checked]="isSelected(item)" />
                {{ formatItemName(item.name) }}
            </label>
        </li>
    </ul>
</div>
