label {
    font-size: 1rem;
    color: var(--themeblue);
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 10px;
}

table i {
    font-size: 1.5rem;
}

td.first {
    width: 30px;
}