
<div class="d-flex justify-content-between">
<ul class="details w-100">
    <li><strong>SI.No</strong> <span>INT</span></li>
    <li><strong>Name of Establishment / Owner</strong> <span>TEXT</span></li>
    <li><strong>House No</strong> <span>TEXT</span></li>
    <li><strong>Street Name</strong> <span>TEXT</span></li>
    <li><strong>Locality</strong> <span>TEXT</span></li>
    <li><strong>Pin code</strong> <span>INT</span></li>
    <li><strong>Telephone / Mob Number</strong> <span>INT</span></li>
    <li><strong>Email Address</strong> <span>TEXT</span></li>
    <li><strong>PAN</strong> <span>TEXT</span></li>
    <li><strong>TAN</strong> <span>TEXT</span></li>
    <li><strong>Head Office: House No</strong> <span>TEXT</span></li>
    <li><strong>Head Office: Street Name</strong> <span>TEXT</span></li>
    <li><strong>Head Office: Locality</strong> <span>TEXT</span></li>
    <li><strong>Head Office: Pin Code</strong> <span>INT</span></li>
    <li><strong>Head Office: Telephone/Mob Number</strong> <span>INT</span></li>
    <li><strong>Email Address</strong> <span>TEXT</span></li>
    <li><strong>Description of major activity of Establishment/Enterprise</strong> <span>TEXT</span></li>
    <li><strong>NIC 2008 activity code</strong> <span>INT</span></li>
</ul>

<ul class="details w-100">
    <li><strong>Year of start of operation under current ownership</strong> <span>YEAR</span></li>
    <li><strong>Ownership Code</strong> <span>INT</span></li>
    <li><strong>Total Number of Person Working</strong> <span>INT</span></li>
    <li><strong>ACT/Authority registration numbers</strong> <span>TEXT</span></li>
    <li><strong>Remarks</strong> <span>TEXT</span></li>
    <li><strong>Location Code</strong> <span>TEXT</span></li>
    <li><strong>Business Registration Number (For unregistered units, putting 'U' at the end of 16 digits long BRN)</strong> <span>TEXT</span></li>
    <li><strong>Registration Status</strong> <span>TEXT</span></li>
    <li><strong>Town/Village</strong> <span>TEXT</span></li>
    <li><strong>Taluka</strong> <span>TEXT</span></li>
    <li><strong>District</strong> <span>TEXT</span></li>
    <li><strong>Sector (Rural/Urban)</strong> <span>TEXT</span></li>
    <li><strong>Name of Act</strong> <span>TEXT</span></li>
    <li><strong>Date of Registration</strong> <span>TEXT</span></li>
    <li><strong>Date if deregistration/expiry</strong> <span>TEXT</span></li>
    <li><strong>GST Number</strong> <span>TEXT</span></li>
    <li><strong>HSN Code</strong> <span>TEXT</span></li>
</ul>

</div>